<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- =====BOX ICONS===== -->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <!-- ===== CSS ===== -->

    <link rel="stylesheet" href="../../../css/servicos.css">
    <title>Document</title>
</head>

<body>

    <header class="header">
        <a href="#" class="header__logo">Jhon Doe</a>

        <ion-icon name="menu-outline" class="header__toggle" id="nav-toggle"></ion-icon>

        <nav class="nav" id="nav-menu">
            <div class="nav__content bd-grid">

                <ion-icon name="close-outline" class="nav__close" id="nav-close"></ion-icon>

                <div class="nav__perfil">
                    <div class="nav__img">
                        <img src="img/homepage/perfil.png" alt="">
                    </div>

                    <div>
                        <a href="#" class="nav__name">Yuri Santiago</a>
                        <span class="nav__profesion">Web designer</span>
                    </div>
                </div>

                <div class="nav__menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="homepage.html" class="nav__link ">Home</a></li>
                        <li class="nav__item"><a href="ajuda.html" class="nav__link ">Ajuda</a></li>
                        <li class="nav__item"><a href="servicos.html" class="nav__link active">Serviços</a></li>
                        <li class="nav__item"><a href="#" class="nav__link">Agenda</a></li>

                    </ul>
                </div>

                <div class="nav__social">
                    <a href="https://api.whatsapp.com/send?phone=5512992095454&text=Ol%C3%A1%2C%20tudo%20bem%3F%20Gostaria%20de%20obter%20mais%20informa%C3%A7%C3%B5es" class="nav__social-icon">
                        <i class='bx bxl-whatsapp'></i>
                    </a>
                    <a href="https://www.facebook.com/drajanainasantiago/" class="nav__social-icon">
                        <i class='bx bxl-facebook'></i>
                    </a>
                    <a href="https://www.instagram.com/drajanainasantiago/" class="nav__social-icon">
                        <i class='bx bxl-instagram'></i>
                    </a>
                </div>
            </div>
        </nav>
    </header>




    <script src="../../js/"></script>
</body>


</html>